.card {
    perspective: 150rem;
    position: relative;
    height: 52rem;

    &__side {
        position: absolute;
        color: #fff;
        height: 52rem;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        transition: all .8s ease;
        width: 100%;
        backface-visibility: hidden;

        &--front {
            background-color: $color-white;

        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-primary, $color-primary-dark);

            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);

            }
        }

    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    &__picture {
        height: 23rem;
        background-size: cover;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        background-blend-mode: screen;

        &--1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../img/nat-5.jpg);
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $color-primary, $color-primary-dark), url(../img/nat-6.jpg);

        }

        &--3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(../img/nat-7.jpg);

        }




    }

    &__heading {
        font-size: 2.8rem;
        text-transform: uppercase;
        color: $color-white;
        font-weight: 300;
        position: absolute;
        top: 12rem;
        right: 2rem;
        text-align: right;
        width: 75%;


        &-span {
            padding: 1rem 1.5rem;
            box-decoration-break: clone;


            &--1 {
                background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));
            }

            &--2 {
                background-image: linear-gradient(to right bottom, rgba($color-primary, .85), rgba($color-primary-dark, .85));

            }

            &--3 {
                background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .85), rgba($color-tertiary-dark, .85));

            }
        }
    }

    &__details {
        font-size: 1.5rem;
        padding: 3rem;


        ul {
            width: 80%;
            margin: 0 auto;

            li {
                list-style: none;
                color: $color-gray-dark;
                text-align: center;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid #eee;
                }

            }

        }
    }

    &__price-box {
        color: $color-white;
        text-transform: uppercase;
        text-align: center;
        position: absolute;
        width: 80%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &__price-only {
        font-size: 1.5rem;
        font-weight: 500;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }

    @media only screen and (max-width: 56.25em), only screen and (hover: none){
        position: relative;
        height: auto;

        &__side {
            position: relative;
            height: auto;


            &--back {
                top: -4rem;
                height: 30rem;
                transform: rotateY(0deg);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);

            }

        }

        &:hover &__side--front {
            transform: rotateY(0deg);
        }

        &:hover &__side--back {
            transform: rotateY(0deg);
        }

        &__price-box {
            text-transform: uppercase;
            text-align: center;
            position: relative;
            width: 100%;
            height: auto;

        }

        &__price-only {
            font-size: 1.5rem;
            font-weight: 500;
        }

        &__price-value {
            font-size: 4rem;
            font-weight: 100;
        }


    }
}