.u-text-center {
    text-align: center;
}

// margin - bottom
.u-margin-bottom-large {
    margin-bottom: $margin-bottom-large;
}
.u-margin-bottom-large-2 {
    margin-bottom: $margin-bottom-large-2;
}

.u-margin-bottom-small {
    margin-bottom: $margin-bottom-small;
}

.u-margin-bottom-medium {
    margin-bottom: $margin-bottom-medium;
}

.u-margin-bottom-medium-2 {
    margin-bottom: $margin-bottom-medium-2;
}
// margin-top
.u-margin-top-large {
    margin-top: 8rem;
}

.u-margin-top-small {
    margin-top: 2rem;
}


.u-margin-top-medium {
    margin-top: 3rem;
}

.u-margin-top-medium-2 {
    margin-top: 4rem;
}

